html {
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
#navbar {
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.navbar-menu {
    padding: 20px;
}
.navbar-menu a {
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#game-img {
    width: 150px;
    padding-left: 40px;
    padding-top: 5px;
}
.button-div {
    padding-top: 2.5px;
    display: flex;
    align-items: center;
    align-content: center;
}
#start-button {
    background-color: white;
    color: black;
    padding: 15px 10px 15px 10px;
    font-size: 25px;
    text-align: center;
}
.game-score {
    display: none;
    font-size: 30px;
    color: white;
    padding: 0px 0px 0px 20px;
}
.game-rules {
    width: 800px;
    font-size: 22px;
    color: white;
    text-align: left;
    margin-top: 60px;
    margin-left: 35px;
    line-height: 5px;
}
.game-rules h1 {
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.arrow {
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
#onion {
    width: 30px;
    padding-left: 10px;
}
#pepper, #beans {
    width: 45px;
}
#michael-parkour {
    width: 90px;
}
#jello {
    width: 35px;
    padding-left: 10px;
}
#dundie {
    width: 40px;
}
#beet {
    width: 50px;
}
#photocopier {
    width: 90px;
}
.game {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}
.about-game {
    padding: 20px 0px 0px 220px;
    font-size: 25px;
    color: white;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-game p {
    width: 500px;
    white-space:pre-line;
    text-align: justify;
}

#the-office {
    width: 380px;
    height: 480px;
    padding-left: 10px;
}
#kevin-gif {
    width: 350px;
    height: 350px;
    padding-left: 20px;
}

.about-me {
    padding: 0px 0px 0px 220px;
    font-size: 22px;
    color: white;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#about-me-text {
    width: 900px;
    white-space: pre-line;
    text-align: justify;
}
#links-img {
    padding-left: 25px;
    width: 800px;
    white-space: pre-line;
    text-align: justify;
}
#about-me-img{
    width: 600px;
}

