html {
    background-color: gray;
}
body {
    margin: 0px;
    padding: 0px;
}
#navbar {
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.navbar-menu {
    padding: 20px;
}
.navbar-menu a {
    padding: 30px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#game-img {
    width: 150px;
    padding-left: 40px;
    padding-top: 5px;
}
.button-div {
    padding-top: 2.5px;
    display: flex;
    align-items: center;
    align-content: center;
}
#start-button {
    background-color: white;
    color: black;
    padding: 15px 10px 15px 10px;
    font-size: 25px;
    text-align: center;
}
.game-score {
    display: none;
    font-size: 30px;
    color: white;
    padding: 0px 0px 0px 100px;
}
.game-rules {
    font-size: 30px;
    color: white;
    text-align: left;
    padding-left: 30px;
    line-height: 0px;
    padding-top: 70px;
}
.game-rules h1 {
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.arrow {
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
#onion {
    width: 30px;
    padding-left: 10px;
}
#pepper, #beans {
    width: 45px;
}
#michael-parkour {
    width: 90px;
}
#jello {
    width: 35px;
    padding-left: 10px;
}
#dundie {
    width: 40px;
}
#beet {
    width: 50px;
}
#photocopier {
    width: 80px;;
}
.game {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}